.dialys-article-move {

  max-width: 500px;


  .article-list {
    list-style: none;
    margin: 0;
    padding: 0;


    &.article-list-1 {
      margin: 20px 0;
    }

    &.article-list-2 {
      margin: 0 0 0 20px;
    }

    li {
      margin: 0;
      padding: 1px 0;

      a,
      .selected,
      .flik-title {
        color: #222;
        display: block;
        padding: 5px 10px;
        text-align: left;
      }

      .mat-icon {
        float: left;
      }

      .list-item-text {
        display: inline-block;
        float: left;
        height: 24px;
        line-height: 24px;
        margin-left: 5px;
      }

      a,
      .selected {
        // clearfix
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }


      a {
        background: transparent;
        color: #222;
        text-decoration: none;

        &:hover {
          // background: $vgr-orange;
          // color: white;
          cursor: pointer;
          text-decoration: none;
        }
      }

      .selected {
        // background: $vgr-orange;
        // color: white;

        .mat-icon {
          color: $vgr-orange;
        }

      }

      .flik-title {
        background: transparent;
        color: #555;
        font-weight: bold;
      }

    }

  }

}
