.dialys-table {

  border-spacing: 0;

  th {
    border-bottom: 1px solid #ccc;
    padding: 5px 3px;

    color: rgba(0, 0, 0, 0.57);


    .sort-button {
      color: rgba(0, 0, 0, 0.57);
      text-transform: none;

      &.sort-field {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  td {
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px 3px;
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }

  a,
  a:visited {
    color: #333;
  }

  // Used for listing patients (= "dialys-i-vast")
  &.dialys-patients-table {
    table-layout: fixed;

    .row-pnr { width: 20%; }
    .row-fornamn { width: 15%; }
    .row-efternamn { width: 20%; }

    .row-distribution-day { width: 10%; }
    .row-distribution-week { width: 10%; }


    .row-senaste-rekvisition { width: 10%; }
    .row-senaste-bestallning { width: 10%; }



    /*.row-status { width: 6%; }*/
    .row-menu { width: 5%; }
  }


}
