.dialys-details {

  padding: 10px;

  &.dialys-details-highlight {
    background: #eee;

    .dialys-details-item {
      border-bottom: none;
    }
  }

  h3 {
    margin-top: 0;
  }

}


.col {

  &.c6,
  &.c5,
  &.c4 {

    .dialys-details {

      .dialys-details-item {

        .dialys-details-item-label {
          margin-right: 1%;
          width: 49%;
        }

        .dialys-details-item-data {
          width: 49.5%;
        }

      }

    }

  }

}
