.mat-fab,
.mat-fab:visited {
  background-color: $vgr-blue;
  color: #fff;

  &.secondary {
    background: #dfdfdf;
    color: #333;
  }

  &.disabled {
    background: #dfdfdf;
    color: #999;
  }

}
