.mat-radio-group {

  .mat-radio-button {
    margin-left: 10px;
    margin-right: 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }



}

.field-label + .mat-radio-group {

  .mat-radio-button:first-child {
    margin-left: 10px;
  }

}
