.order-table {

  margin: 20px 0;

  .mat-row {
    min-height: 24px;
  }

  .mat-column-artikel {
    max-width: 40%;
  }

  .mat-column-mangd,
  .mat-column-pdartikel,
  .mat-column-maxantal,
  .mat-column-antal {
      max-width: 15%;
  }

  .mat-cell {
    padding: 10px 0;
  }

  .order-row-amount {
    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        bottom: 0;
      }
    }
  }

}
