.patient-search-toolbar {

  .search-input-wrap {
    width: 55%;
  }

  .status-select {
    width: 15%;
  }

  .distribution-day-select {
    width: 15%;
  }

  .distribution-week-select {
    width: 15%;
  }


}
