<div *ngIf="data">

  <mat-toolbar class="action-toolbar">
    <h1>
      {{bestInfo.id ? 'Ändra beställning' : 'Ny beställning:'}} {{data.pnr}} ({{data.typ}})
    </h1>
    <div class="action-toolbar-spacer"></div>
    <app-back-button class="action-toolbar-item"></app-back-button>
  </mat-toolbar>

  <mat-card class="dialys-card">

    <mat-card-content>

      <div class="row">
        <div class="col c6">
          <div class="col-inner">
            <div class="dialys-details">
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Förnamn:</div>
                <div class="dialys-details-item-data">
                  {{data.fornamn}}
                </div>
              </div>
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Efternamn:</div>
                <div class="dialys-details-item-data">
                  {{data.efternamn}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col c6">
          <div class="col-inner">
            <div class="dialys-details">
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Rekvisitionsdatum:</div>
                <div class="dialys-details-item-data">
                  {{pd.datum | date:'yyyy-MM-dd'}}
                </div>
              </div>
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Rekvisitionsnr:</div>
                <div class="dialys-details-item-data">
                  {{pd.id}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-patient-details patientId={{data.id}}></app-patient-details>

      <form novalidate (ngSubmit)="saveToServer(orderModel)" #orderModel="ngForm" class="order-form">
        <div id="bastallningsTableWrap">
          <table class="dialys-table order-table" style="color: rgba(0,0,0,.54); margin: 9px;">
            <tbody>

            <tr class="print-field">
              <td>
                Personnummer:<br/>
                {{data.pnr}}
                <br/><br/>
              </td>
              <td colspan="2">
                Förnamn:<br/>
                {{data.fornamn}}
                <br/><br/>
              </td>
              <td colspan="2">
                Efternamn:<br/>
                {{data.efternamn}}
                <br/><br/>
              </td>
              <td>
              </td>
            </tr>

            <tr style="background: #dfdfdf; height: 48px;">
              <td>
                Artikel
              </td>

              <td>
                Mängd / frp
              </td>

              <td>
                Artikelnr
              </td>

              <td>
                Maxantal frp
              </td>

              <td>
                Antal frp
              </td>
            </tr>

            <tr *ngFor="let rad of bestInfo.bestPDRads">
              <td class="mat-cell cdk-column-artikel mat-column-artikel ng-star-inserted">
                {{rad.pdArtikel.artikel.namn}}
              </td>

              <td class="mat-cell cdk-column-artikel mat-column-artikel ng-star-inserted">
                {{rad.pdArtikel.artikel.storlek}}
              </td>

              <td class="mat-cell cdk-column-artikel mat-column-artikel ng-star-inserted">
                {{rad.pdArtikel.artikel.artNr}}
              </td>

              <td class="mat-cell cdk-column-artikel mat-column-artikel ng-star-inserted">
                {{rad.pdArtikel.maxantal}}
              </td>

              <td class="mat-cell cdk-column-artikel mat-column-artikel ng-star-inserted">
                <mat-form-field class="order-row-amount">
                  <input type="number"
                         [value]="rad.antal"
                         (blur)="rad.antal=$event.srcElement.value"
                         [disabled]="!rad.pdArtikel.artikel.aktiv || readonly"
                         name="antalfp"
                         matInput>
                </mat-form-field>
                <span class="print-field"> {{rad.antal}} </span>
              </td>
            </tr>

            </tbody>
          </table>

          <!--<mat-table #table dense [dataSource]="bestInfo.bestPDRads" class="order-table">
            <ng-container matColumnDef="artikel">
              <mat-header-cell *matHeaderCellDef>Artikel</mat-header-cell>
              <mat-cell *matCellDef="let rad">{{rad.pdArtikel.artikel.namn}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="mangd">
              <mat-header-cell *matHeaderCellDef>Mängd / frp</mat-header-cell>
              <mat-cell *matCellDef="let rad" style="margin-left: 30px">{{rad.pdArtikel.artikel.storlek}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pdartikel">
              <mat-header-cell *matHeaderCellDef>Artikelnr</mat-header-cell>
              <mat-cell *matCellDef="let rad">
                {{rad.pdArtikel.artikel.artNr}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="maxantal">
              <mat-header-cell *matHeaderCellDef>Maxantal frp</mat-header-cell>
              <mat-cell *matCellDef="let rad">
                <div>{{rad.pdArtikel.maxantal}}</div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="antal">
              <mat-header-cell *matHeaderCellDef>Antal frp</mat-header-cell>
              <mat-cell *matCellDef="let rad">
                <span class="print-field"> {{rad.antal}} </span>
                <mat-form-field class="order-row-amount">
                  <input type="number"
                         [value]="rad.antal"
                         (blur)="rad.antal=$event.srcElement.value"
                         [disabled]="!rad.pdArtikel.artikel.aktiv || readonly"
                         name="antalfp"
                         matInput>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['artikel', 'mangd', 'pdartikel','maxantal', 'antal']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['artikel', 'mangd', 'pdartikel','maxantal', 'antal'];"></mat-row>

          </mat-table>-->

          <div class="form-element">
            <mat-form-field class="order-comment">
                <textarea matInput placeholder="Fritext"
                          [(ngModel)]=bestInfo.fritext
                          name="fritxt"
                          [readonly]="readonly"
                          #fritext="ngModel"
                          maxlength="200">
                </textarea>
            </mat-form-field>
            <span class="print-field">'{{bestInfo.fritext}}' </span>
          </div>

          <br class="print-field"/>

          <div class="form-element">
            <mat-form-field class="order-delivery-date">
              <input matInput type="date" lang="sv"
                     placeholder="Leveransdatum"
                     [value]="bestInfo.levDatum | date: 'yyyy-MM-dd'"
                     (blur)="bestInfo.levDatum=$event.srcElement.value"
                     [readonly]="readonly"
                     name="leveransdatum">
            </mat-form-field>
            <span class="print-field">'{{bestInfo.levDatum | date: 'yyyy-MM-dd'}}' </span>
          </div>

        </div>

        <div class="btn-container">
          <button [disabled]="readonly" type="submit" mat-raised-button class="btn">Spara beställning</button> &nbsp;
          <button (click)="print('Beställning', 'bastallningsTableWrap')" mat-raised-button class="btn btn-secondary">
            Skriv ut
          </button> &nbsp;
          <button routerLink="/patienter/{{data.id}}" type="button" mat-raised-button class="btn btn-secondary">
            Avbryt
          </button> &nbsp;
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
