<mat-toolbar class="action-toolbar">
  <h1>
     Administration
  </h1>

  <div class="action-toolbar-spacer"></div>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <p>I administrationsvyn för Dialys i Väst kan du hantera data som användare, artiklar, apotek etc.</p>
    <p>Exakt vilka val som finns tillgängliga beror av vilka rättigheter du har som användare.</p>

    <mat-list class="block-navigation">

      <mat-list-item *ngIf="admin">
        <a routerLink="../users" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          <span class="nav-label">Användare</span>
        </a>
      </mat-list-item>


      <mat-list-item *ngIf="admin">
        <a routerLink="../mottagnings" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          <span class="nav-label">Mottagningar</span>
        </a>
      </mat-list-item>

      <mat-list-item *ngIf="admin">
        <a routerLink="../artikels" routerLinkActive="false">
          <mat-icon>people</mat-icon>
          <span class="nav-label">Artiklar</span>
        </a>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>
