<mat-toolbar class="action-toolbar">
  <h1>
    Sök patient
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" mat-fab routerLink="create/edit" matTooltip="Lägg till ny patient" *ngIf="loggedIn && authService.getSjukskoterska()">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>

<mat-card>

  <mat-card-title>

    <mat-toolbar class="action-toolbar patient-search-toolbar">

      <mat-form-field class="action-toolbar-item search-input-wrap">
          <input matInput placeholder="Skriv in personnummer eller för/efter-namn och tryck enter."
                 [formControl]="stateCtrl" [(ngModel)]="query" (keydown)="filterTextChange($event)" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="status-select-field">
        <mat-select [(value)]="status" placeholder="Status" (change)="updateState()">
          <mat-option value="">Samtliga val</mat-option>
          <mat-option value="Aktiv">Aktiv</mat-option>
          <mat-option value="Pausad">Pausad</mat-option>
          <mat-option value="Avslutad">Avslutad</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="distribution-day-select-field">
        <mat-select [(value)]="utdelningsDag" placeholder="Utdelningsdag" (change)="updateState()">
          <mat-option value="">Samtliga val</mat-option>
          <mat-option value="Måndag">Måndag</mat-option>
          <mat-option value="Tisdag">Tisdag</mat-option>
          <mat-option value="Onsdag">Onsdag</mat-option>
          <mat-option value="Torsdag">Torsdag</mat-option>
          <mat-option value="Fredag">Fredag</mat-option>
          <mat-option value="Lördag">Lördag</mat-option>
          <mat-option value="Söndag">Söndag</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="distribution-week-select-field">
        <mat-select [(value)]="utdelningsVecka" placeholder="Utdelningsvecka" (change)="updateState()">
          <mat-option value="">Samtliga val</mat-option>
          <mat-option value="Jämn">Jämn</mat-option>
          <mat-option value="Ojämn">Ojämn</mat-option>
          <mat-option value="Var tredje">Var tredje</mat-option>
          <mat-option value="Varje">Varje</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="distribution-week-select-field">
        <mat-select [(value)]="typ" placeholder="Typ" (change)="updateState()">
          <mat-option value="PD">PD</mat-option>
          <mat-option value="HD"><del>HD</del></mat-option>
        </mat-select>
      </mat-form-field>

      <div class="action-toolbar-spacer"></div>

    </mat-toolbar>

  </mat-card-title>

  <mat-card-content>
    <table *ngIf="response && response.content && response.content['length'] > 0" class="dialys-table dialys-patients-table">
      <thead>
      <tr>
        <th class="row-pnr">
          <button class="sort-button" mat-button (click)="toggleSort('pnr')"
                  [ngClass]="{'sort-field': sort?.field === 'pnr', 'asc': sort?.ascending, 'desc': sort?.ascending === false}">
            Personnummer
            <mat-icon>arrow_drop_up</mat-icon>
          </button>
        </th>
        <th class="row-id">Id</th>
        <th class="row-efternamn">
          <button class="sort-button" mat-button (click)="toggleSort('efternamn')"
                  [ngClass]="{'sort-field': sort?.field === 'efternamn', 'asc': sort?.ascending, 'desc': sort?.ascending === false}">
            Efternamn
            <mat-icon>arrow_drop_up</mat-icon>
          </button>
        </th>
        <th class="row-fornamn">
          Förnamn
        </th>
        <th class="row-distribution-day">
          Utdeln.dag
        </th>
        <th class="row-distribution-week">
          Utdeln.vecka
        </th>
        <th class="row-senaste-rekvisition">
          Senaste rekvisition
        </th>
        <th class="row-senaste-bestallning">
          Senaste beställning
        </th>
        <th class="row-menu" matTooltip="Klicka på prickarna för att visa flera val">Meny</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of response.content">
        <td>
          <a routerLink="{{patient.id}}" routerLinkActive="active">
            {{patient.pnr}}
          </a>
        </td>
        <td>
          <a routerLink="{{patient.id}}" routerLinkActive="active">
            {{patient.id}}
          </a>
        </td>
        <td>
          <a routerLink="{{patient.id}}" routerLinkActive="active">
            {{patient.efternamn}}
          </a>
        </td>
        <td>
          <a routerLink="{{patient.id}}" routerLinkActive="active">
            {{patient.fornamn}}
          </a>
        </td>


        <td>
          {{patient.utdelDag}}
        </td>

        <td>
          {{patient.utdelVecka}}
        </td>


        <td>
          {{patient.pds.length > 0 ? (patient.pds[0].datum | date: 'yyyy-MM-dd') : 'Ingen ännu'}}
        </td>
        <td>
          {{
          patient.pds.length > 0 && patient.pds[0].bestInfos && patient.pds[0].bestInfos.length > 0
          ? (patient.pds[0].bestInfos[0].datum | date: 'yyyy-MM-dd')
          :
          'Ingen ännu'
          }}
        </td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="{{patient.id}}">
              <mat-icon>folder_open</mat-icon>
              <span>Visa patientinfo</span>
            </button>

            <button mat-menu-item routerLink="{{patient.id}}/add-order" *ngIf="userHasEditPermission(patient)" [disabled]="!patientHarRekvisition(patient) || patient.status != 'Aktiv'">
              <mat-icon>add_shopping_cart</mat-icon>
              <span>Ny beställning</span>
            </button>

            <button mat-menu-item routerLink="{{patient.id}}/add-requisition" [queryParams]="{returnUrl:returnurl}"
                    *ngIf="userHasEditPermission(patient) && authService.getSjukskoterska()">
              <mat-icon>content_paste</mat-icon>
              <span>Ny rekvisition</span>
            </button>

            <button mat-menu-item routerLink="{{patient.id}}/edit" *ngIf="userHasEditPermission(patient)">
              <mat-icon>edit</mat-icon>
              <span>Redigera patient</span>
            </button>
          </mat-menu>
        </td>
      </tr>
      </tbody>
    </table>


    <div *ngIf="response && response.content && response.content['length'] == 0 " class="alert alert-info">
      Din sökning gav inga resultat.
    </div>



  </mat-card-content>

  <mat-card-actions *ngIf="response">

    <mat-toolbar class="paging-toolbar" *ngIf="response && response.content && response.content['length'] > 0">
      <div *ngIf="response" class="search-summary">
        Visar sida {{response.number + 1}} av {{response.totalPages}}. Totalt antal: {{response.totalElements}}
      </div>

      <div class="paging-toolbar-spacer"></div>

      <button (click)="previousPage()" mat-button [disabled]="response.first">
        <mat-icon>arrow_back</mat-icon>
        Föregående
      </button>
      <button (click)="nextPage()" mat-button [disabled]="response.last">Nästa
        <mat-icon>arrow_forward</mat-icon>
      </button>

      <div class="paging-toolbar-spacer"></div>

      <mat-form-field class="select-page-field">
        <mat-select placeholder="Välj sida" [(ngModel)]="selectedPage" (change)="goToSelectedPage()">
          <mat-option *ngFor="let page of totalPagesArr" [value]=page>Sida {{page}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>

  </mat-card-actions>

</mat-card>
