<mat-toolbar class="action-toolbar">
  <h1>
     Användare
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" routerLink="create" mat-fab matTooltip="Lägg till ny användare"><mat-icon>person_add</mat-icon></a>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<mat-card>
  <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-icon color="primary">search</mat-icon>
    <mat-form-field fxFlex="20%" >
     <input matInput type="text" placeholder="Sök" (keyup)="doSearch($event.target.value)">
    </mat-form-field>


    <mat-form-field fxFlex="20%" fxLayoutAlign="end">
      <mat-select [(value)]="selected" (change)="updateStatus()">
        <mat-option value="Aktiv">Aktiv</mat-option>
        <mat-option value="Inaktiv">Inaktiv</mat-option>
      </mat-select>
    </mat-form-field>


  </div>



  <mat-card-content>
    <mat-table #table [dataSource]="dataSources">
      <ng-container matColumnDef="anvandare">
        <mat-header-cell *matHeaderCellDef>Användarnamn</mat-header-cell>
        <mat-cell *matCellDef="let rad">{{rad.userName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="namn">
        <mat-header-cell *matHeaderCellDef>Namn</mat-header-cell>
        <mat-cell *matCellDef="let rad">{{rad.name}}</mat-cell>
      </ng-container>

     <ng-container matColumnDef="behorighet">
        <mat-header-cell *matHeaderCellDef>Behörighet</mat-header-cell>
        <mat-cell *matCellDef="let rad"><mat-chip-list>
          <mat-chip style="color: blue;" *ngIf="rad.admin">A</mat-chip>
          <mat-chip style="color: red;" *ngIf="rad.sjukskoterska">S</mat-chip>
          <mat-chip style="color: green;" *ngIf="rad.pharmaceut">P</mat-chip>
        </mat-chip-list></mat-cell>
      </ng-container>

      <ng-container matColumnDef="redigera">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let rad">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="{{rad.userName}}/edit">
              <mat-icon>edit</mat-icon>
              <span>Redigera</span>
            </button>

            <button *ngIf="canImpersonate()" mat-menu-item (click)="impersonate(user)">
              <mat-icon>transfer_within_a_station</mat-icon>
              <span>Uppträd som</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator #page1
                   [pageSize]="8"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </mat-card-content>
</mat-card>
