<div *ngIf="data">

  <mat-toolbar class="action-toolbar">
    <h1>
      Patient: {{data.pnr}}
      <mat-icon *ngIf="getStatus(data) === 'closed'" style="color: #ebb62f;" matTooltip="Giltighetsdatum passerat.">
        error
      </mat-icon>
      <mat-icon *ngIf="getStatus(data) === 'fullyClosed'" style="color: #d33;"
                matTooltip="Giltighetsdatum passerat för över ett år sedan.">error
      </mat-icon>
    </h1>
    <div class="action-toolbar-spacer"></div>
    <!--<app-back-button class="action-toolbar-item"></app-back-button>-->
    <a class="action-toolbar-item" mat-fab routerLink="id" matTooltip="Tillbaka">
      <mat-icon>home</mat-icon>
    </a>
    <a class="action-toolbar-item" mat-fab routerLink="edit" matTooltip="Redigera arbetsplatskod"
       *ngIf="userHasEditPermission(data) && getStatus(data) !== 'closed' && getStatus(data) !== 'fullyClosed'">
      <mat-icon>edit</mat-icon>
    </a>

    <a class="action-toolbar-item" mat-fab routerLink="add-requisition" matTooltip="Ny rekvisition"
       *ngIf="userHasEditPermission(data)">
      <mat-icon>content_paste</mat-icon>
    </a>


    <a class="action-toolbar-item" mat-fab routerLink="id" matTooltip="Tillbaka">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </mat-toolbar>

  <mat-card class="example-card">

    <mat-card-content>

      <div class="row">
        <div class="col c6">
          <div class="col-inner">
            <div class="div-details">

              <div class="div-details-item">
                <div class="div-details-item-label">Personnr:</div>
                <div class="div-details-item-data">
                  {{data.pnr}}
                </div>
              </div>

              <div class="div-details-item">
                <div class="div-details-item-label">Namn:</div>
                <div class="div-details-item-data">
                  {{data.fornamn}}
                </div>
              </div>

              <div class="div-details-item">
                <div class="div-details-item-label">Label:</div>
                <div class="div-details-item-data">
                  {{data.id}}
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col c6">
          <div class="col-inner">
            <div class="div-details">

              <div class="div-details-item">
                <div class="div-details-item-label">Gatuadress:</div>
                <div class="div-details-item-data">
                  {{data.adress}}
                </div>
              </div>

              <div class="div-details-item">
                <div class="div-details-item-label">Postadress:</div>
                <div class="div-details-item-data">
                  {{data.postOrt}}
                </div>
              </div>


              <div class="div-details-item">
                <div class="div-details-item-label">Telefon:</div>
                <div class="div-details-item-data">
                  {{data.telefon}}
                </div>
              </div>

              <div class="div-details-item">
                <div class="div-details-item-label">Epost:</div>
                <div class="div-details-item-data">
                  {{data.epost}}
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>


  <h4>PD Rekvisitioner: </h4>
  <mat-accordion>

    <mat-expansion-panel class="div-requisition-panel div-requisition-panel-main">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>content_paste</mat-icon>
          Rekvisition {{data.pds[0].id}}
        </mat-panel-title>
        <mat-panel-description style="font-size: 21px">
          {{data.pds[0].datum | date: 'yyyy-MM-dd'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4 style="color:blue; font-size: 18px; ;">Beställningar: </h4>
      <div>
        <mat-table #table dense [dataSource]="data.pds[0].bestInfos">


          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef><span style="color:blue; font-size: 18px;">ID</span></mat-header-cell>
            <mat-cell *matCellDef="let bestInfo"> {{bestInfo.id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="datum">
            <mat-header-cell *matHeaderCellDef><span style="color:blue; font-size: 18px;">Datum</span></mat-header-cell>
            <mat-cell *matCellDef="let bestInfo"> {{bestInfo.datum | date:'yyyy-MM-dd'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="utskrivare">
            <mat-header-cell *matHeaderCellDef><span style="color:blue; font-size: 18px;">Utskrivare</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let bestInfo"> {{bestInfo.utskrivare}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>

    </mat-expansion-panel>
    <div *ngIf="showOldRequisitions">


      <mat-expansion-panel *ngFor="let dat of data.pds" class="div-requisition-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>content_paste</mat-icon>
            Rekvisition {{dat.id}}
          </mat-panel-title>
          <mat-panel-description style="font-size: 21px">
            {{dat.datum | date: 'yyyy-MM-dd'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h4 style="color:blue; font-size: 18px; ;">Beställningar: </h4>
        <div>
          <mat-table #table dense [dataSource]="dat.bestInfos">

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef><span style="color:blue; font-size: 18px;">ID</span></mat-header-cell>
              <mat-cell *matCellDef="let bestInfo"> {{bestInfo.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="datum">
              <mat-header-cell *matHeaderCellDef><span style="color:blue; font-size: 18px;">Datum</span>
              </mat-header-cell>
              <mat-cell *matCellDef="let bestInfo"> {{bestInfo.datum | date:'yyyy-MM-dd'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="utskrivare">
              <mat-header-cell *matHeaderCellDef><span style="color:blue; font-size: 18px;">Utskrivare</span>
              </mat-header-cell>
              <mat-cell *matCellDef="let bestInfo"> {{bestInfo.utskrivare}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

        </div>


      </mat-expansion-panel>
    </div>

  </mat-accordion>

  <!-- Temp break tags. Should be replaced with styling if they are needed in final production version -->
  <br/>

  <mat-checkbox class="" [checked]="showOldRequisitions" (change)="showOldRequisitions = $event.checked">
    Visa gamla rekvisitioner
  </mat-checkbox>

  <!-- Temp break tags. Should be replaced with styling if they are needed in final production version -->
  <br/><br/><br/>

  <mat-toolbar class="meta-toolbar">

    <div class="meta-toolbar-item">
      <span>Skapad:</span> <span>{{data.regDatum | dateX: 'YYYY-MM-DD HH:mm'}}</span>
    </div>

    <div class="meta-toolbar-item">
      <span>Ändrad:</span> <span>{{data.andringsdatum}}</span>
    </div>

    <div class="meta-toolbar-item">
      <span>Senast ändrad av:</span> <span>{{data.userIdNew || data.userName}}</span>
    </div>

    <div class="meta-toolbar-spacer"></div>

    <div class="meta-toolbar-item">
      <span>ID:</span> <span>{{data.id}}</span>
    </div>

  </mat-toolbar>

</div>
