<div *ngIf="data">

  <mat-toolbar class="action-toolbar">
    <h1>
       Patient: {{data.pnr}}
       <mat-icon *ngIf="getStatus(data) === 'closed'" style="color: #ebb62f;" matTooltip="Giltighetsdatum passerat.">error</mat-icon>
       <mat-icon *ngIf="getStatus(data) === 'fullyClosed'" style="color: #d33;" matTooltip="Giltighetsdatum passerat för över ett år sedan.">error</mat-icon>

    </h1>
    <div class="action-toolbar-spacer"></div>
    <!--<app-back-button class="action-toolbar-item"></app-back-button>-->
    <a class="action-toolbar-item" mat-fab routerLink="id" matTooltip="Tillbaka"><mat-icon>home</mat-icon></a>
    <a class="action-toolbar-item" mat-fab routerLink="edit" matTooltip="Redigera arbetsplatskod" *ngIf="userHasEditPermission(data) && getStatus(data) !== 'closed' && getStatus(data) !== 'fullyClosed'">
      <mat-icon>edit</mat-icon>
    </a>
    <a class="action-toolbar-item" mat-fab routerLink="id" matTooltip="Tillbaka"><mat-icon>arrow_back</mat-icon></a>
  </mat-toolbar>

    <mat-card class="example-card">

      <mat-card-content>

        <div class="row">
        	<div class="col c6">
        		<div class="col-inner">
              <div class="apk-details">

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Personnr:</div>
                  <div class="apk-details-item-data">
                    {{data.pnr}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Namn:</div>
                  <div class="apk-details-item-data">
                    {{data.fornamn}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Label:</div>
                  <div class="apk-details-item-data">
                    {{data.id}}
                  </div>
                </div>

              </div>
            </div>
        	</div>
          <div class="col c6">
            <div class="col-inner">
              <div class="apk-details">

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Gatuadress:</div>
                  <div class="apk-details-item-data">
                    {{data.adress}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Postadress:</div>
                  <div class="apk-details-item-data">
                    {{data.postOrt}}
                  </div>
                </div>


                <div class="apk-details-item">
                  <div class="apk-details-item-label">Telefon:</div>
                  <div class="apk-details-item-data">
                    {{data.telefon}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Epost:</div>
                  <div class="apk-details-item-data">
                    {{data.epost}}
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  <div class="panel panel-primary" style="background-color: #005c95">
    <div class="panel-heading" style="height: 50px; padding-left: 50px; padding-top: 20px; font-size:18px; font-weight: bold;">
        Rekvisition
    </div>
  </div>

    <mat-toolbar class="meta-toolbar">

      <div class="meta-toolbar-item">
        <span>Skapad:</span> <span>{{data.regDatum | dateX: 'YYYY-MM-DD HH:mm'}}</span>
      </div>

      <div class="meta-toolbar-item">
        <span>Ändrad:</span> <span>{{data.andringsdatum}}</span>
      </div>

      <div class="meta-toolbar-item">
        <span>Senast ändrad av:</span> <span>{{data.userIdNew || data.userName}}</span>
      </div>

      <div class="meta-toolbar-spacer"></div>

      <div class="meta-toolbar-item">
        <span>ID:</span> <span>{{data.id}}</span>
      </div>

    </mat-toolbar>

</div>
