<div *ngIf="data">

  <mat-toolbar class="action-toolbar">
    <h1>
      Patient: {{data.pnr}}
    </h1>
    <div class="action-toolbar-spacer"></div>
    <!--<app-back-button class="action-toolbar-item"></app-back-button>-->
    <a class="action-toolbar-item" mat-fab routerLink="edit" matTooltip="Redigera patient"
       *ngIf="userHasEditPermission(data)">
      <mat-icon>edit</mat-icon>
    </a>

    <a class="action-toolbar-item" mat-fab routerLink="add-order" matTooltip="Ny beställning"
       *ngIf="userHasEditPermission(data)">
      <mat-icon>add_shopping_cart</mat-icon>
    </a>

    <a class="action-toolbar-item" mat-fab routerLink="add-requisition" matTooltip="Ny rekvisition"
       *ngIf="userHasEditPermission(data) && this.authService.getSjukskoterska()">
      <mat-icon>content_paste</mat-icon>
    </a>

    <app-back-button class="action-toolbar-item"></app-back-button>
  </mat-toolbar>

  <mat-card class="dialys-card">

    <mat-card-content>

      <div class="row">
        <div class="col c6">
          <div class="col-inner">
            <div class="dialys-details">

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Personnr:</div>
                <div class="dialys-details-item-data">
                  {{data.pnr}}
                </div>
              </div>

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Namn:</div>
                <div class="dialys-details-item-data">
                  {{data.fornamn}}
                </div>
              </div>

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Efternamn:</div>
                <div class="dialys-details-item-data">
                  {{data.efternamn}}
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col c6">
          <div class="col-inner">
            <div class="dialys-details">

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Gatuadress:</div>
                <div class="dialys-details-item-data">
                  {{data.adress}}
                </div>
              </div>

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Postadress:</div>
                <div class="dialys-details-item-data">
                  {{data.postOrt}}
                </div>
              </div>


              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Telefon:</div>
                <div class="dialys-details-item-data">
                  {{data.telefon}}
                </div>
              </div>

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Epost:</div>
                <div class="dialys-details-item-data">
                  {{data.epost}}
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>


  <h4>Rekvisitioner: </h4>
  <mat-accordion>

    <mat-expansion-panel class="dialys-requisition-panel dialys-requisition-panel-main" hideToggle="true" (opened)="panelMainOpenState = true" (closed)="panelMainOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>content_paste</mat-icon>
          <span class="title-name">Rekvisition {{data.pds[0].id}}</span>
          <span class="title-date">{{data.pds[0].datum | date: 'yyyy-MM-dd'}}</span>
          <span class="title-orders">{{data.pds[0].bestInfos != null ? data.pds[0].bestInfos.length : '0'}} beställningar</span>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>add_shopping_cart</mat-icon>
          <span>
            {{panelMainOpenState ? 'Dölj beställningar' : 'Visa beställningar'}}  ({{data.pds[0].bestInfos != null ? data.pds[0].bestInfos.length : '0'}}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <mat-table #table dense [dataSource]="data.pds[0].bestInfos">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Beställnings-ID</span></mat-header-cell>
            <mat-cell *matCellDef="let bestInfo"> <a routerLink="prescription/{{bestInfo.id}}"
                                                     [queryParams]="{persnr:data.pnr, rekvisitionid:data.pds[0].id,
                                                     rekvisDatum:data.pds[0].datum | date: 'yyyy-MM-dd' ,
                                                     gatuadress: data.adress, postnummer: data.postNr,
                                                     postort: data.postOrt, namn: data.fornamn,
                                                     efternamn: data.efternamn}">{{bestInfo.id}}</a></mat-cell>
          </ng-container>

          <ng-container matColumnDef="datum">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Beställningdatum</span></mat-header-cell>
            <mat-cell *matCellDef="let bestInfo"> {{bestInfo.datum | date:'yyyy-MM-dd'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="utskrivare">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Utskrivare</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let bestInfo"> {{bestInfo.utskrivare}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="levdatum">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Leveransdatum</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let bestInfo"> {{bestInfo.levDatum | date:'yyyy-MM-dd'}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>

    </mat-expansion-panel>
    <div *ngIf="showOldRequisitions">

      <div *ngFor="let dat of data.pds | slice:1; let i = index;">

        <!--
        dat.bestInfos == null
        -->
        <mat-expansion-panel class="dialys-requisition-panel " hideToggle="true" (opened)="panelOpenState[i] = true" (closed)="panelOpenState[i] = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>content_paste</mat-icon>
              <span class="title-name">Rekvisition {{dat.id}}</span>
              <span class="title-date">{{dat.datum | date: 'yyyy-MM-dd'}}</span>
              <span class="title-orders">{{dat.bestInfos != null ? dat.bestInfos.length : '0'}} beställningar</span>
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>add_shopping_cart</mat-icon>
              <span>
                {{panelOpenState[i] ? 'Dölj beställningar' : 'Visa beställningar'}}  ({{dat.bestInfos.length}})
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>

            <mat-table #table dense [dataSource]="dat.bestInfos">

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Beställnings-ID</span></mat-header-cell>
                <mat-cell *matCellDef="let bestInfo"> <a routerLink="prescription/{{bestInfo.id}}"
                                                         [queryParams]="{persnr:data.pnr, rekvisitionid:dat.id,
                                                         rekvisDatum:dat.datum | date: 'yyyy-MM-dd' , patId: id,
                                                          gatuadress: data.adress, postnummer: data.postNr,
                                                          postort: data.postOrt, namn: data.fornamn,
                                                          efternamn: data.efternamn}">
                                                      {{bestInfo.id}}</a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Beställningsdatum</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let bestInfo"> {{bestInfo.datum | date:'yyyy-MM-dd'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="utskrivare">
                <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Utskrivare</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let bestInfo"> {{bestInfo.utskrivare}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="levdatum">
                <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Leveransdatum</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let bestInfo"> {{bestInfo.levDatum | date:'yyyy-MM-dd'}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

          </div>


        </mat-expansion-panel>
      </div>
    </div>

  </mat-accordion>


  <br/>

  <mat-checkbox class="" [checked]="showOldRequisitions" (change)="showOldRequisitions = $event.checked">
    Visa gamla rekvisitioner
  </mat-checkbox>


  <br/><br/><br/>

  <mat-toolbar class="meta-toolbar">

    <div class="meta-toolbar-item">
      <span>Skapad:</span> <span>{{data.regDatum | dateX: 'YYYY-MM-DD HH:mm'}}</span>
    </div>

    <div class="meta-toolbar-item">
      <span>Ändrad:</span> <span>{{data.andringsdatum}}</span>
    </div>

    <div class="meta-toolbar-item">
      <span>Senast ändrad av:</span> <span>{{data.userIdNew || data.userName}}</span>
    </div>

    <div class="meta-toolbar-spacer"></div>

    <div class="meta-toolbar-item">
      <span>ID:</span> <span>{{data.id}}</span>
    </div>

  </mat-toolbar>

</div>
