<div>

  <mat-toolbar class="action-toolbar">
    <h1>
      Arbetsplatskod: {{data?.pnr}}
    </h1>
    <div class="action-toolbar-spacer"></div>
    <app-back-button class="action-toolbar-item"></app-back-button>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <table class="apk-table apks-table">
        <tr>
          <th>Ändringsdatum</th>
          <th *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr | dateX: 'YYYY-MM-DD HH:mm'}}
          </th>
        </tr>
        <tr>
          <th>Skapad</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr | dateX: 'YYYY-MM-DD HH:mm'}}
          </td>
        </tr>
        <tr>
          <th>Ändrad av</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Benämning</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Kortnamn</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>HSA-ID</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Adress</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Postnummer</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Postort</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Motpart</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Ansvar</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Faktureras externt</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr == 'ovr' ? 'Ja' : data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Vårdform</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
          </td>
        </tr>
        <tr>
          <th>Verksamhetskod</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            {{data.pnr}}
          </td>
        </tr>
        <tr>
          <th>Concise SumNivå 1</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
          </td>
        </tr>
        <tr>
          <th>Concise SumNivå 2</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
          </td>
        </tr>
        <tr>
          <th>Concise SumNivå 3</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
          </td>
        </tr>
        <tr>
          <th>Giltig fr.o.m.</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
          </td>
        </tr>
        <tr>
          <th>Giltig t.o.m.</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
            <span *ngIf="!data.tillDatum">Tills vidare</span>
          </td>
        </tr>
        <tr>
          <th>Anmärkning</th>
          <td *ngFor="let data of currentPlusArchivedDatas">
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
