<div *ngIf="userForm; else loading">

  <form #formRef="ngForm" [formGroup]="userForm" (ngSubmit)="save()" novalidate autocomplete="off">
    <mat-card>
      <mat-card-content>

        <mat-input-container>
          <input id="userName" placeholder="Användarnamn" type="text" matInput formControlName="userName">
          <mat-error *ngIf="getErrors('userName')?.alreadyExists">
            Användarnamnet är upptaget
          </mat-error>
        </mat-input-container>
        <mat-input-container>
          <input id="name" placeholder="Namn" type="text" matInput formControlName="name">
        </mat-input-container>
        <mat-input-container>
          <input id="passWord" placeholder="Lösenord" type="password" matInput formControlName="passWord">
        </mat-input-container>

        <h3>Behörigheter</h3>

        <div ngClass="{{formRef.submitted ? 'submitted' : ''}}" class="form-element">
          <mat-checkbox id="sjukskoterska" name="sjukskoterska" formControlName="sjukskoterska">Sjuksköterska
          </mat-checkbox>
        </div>
        <div ngClass="{{formRef.submitted ? 'submitted' : ''}}" class="form-element">
          <mat-checkbox id="pharmaceut" name="pharmaceut" formControlName="pharmaceut">Pharmaceut</mat-checkbox>
        </div>
        <div ngClass="{{formRef.submitted ? 'submitted' : ''}}" class="form-element">
          <mat-checkbox id="admin" name="admin" formControlName="admin">Admin</mat-checkbox>
        </div>

        <h3>Mottagningar</h3>
        <div class="form-element" *ngFor="let mottagning of mottagnings">
          <mat-checkbox [checked]="doesUserHaveMottagning(mottagning)" (change)="onMottagningChecked(mottagning)">
            {{mottagning.namn}}
          </mat-checkbox>
        </div>

        <div class="btn-container button-row">
          <button mat-raised-button type="submit">Spara</button>
        </div>

        <div *ngIf="saveMessage" class="alert alert-danger">{{saveMessage}}</div>

      </mat-card-content>
    </mat-card>

  </form>

</div>

<ng-template #loading>
  Läser in...
</ng-template>
