<div>

  <mat-card>
    <mat-card-content>

      <mat-input-container>
        <input id="userNameInput" placeholder="Användarnamn" type="text" matInput [(ngModel)]="user.userName"
               [disabled]="!inCreationMode" (change)="userNameChange($event)" autocomplete="off">
      </mat-input-container>
      <div *ngIf="userNameClash" style="color: darkorange;">
        Användarnamnet är upptaget
      </div>
      <mat-input-container>
        <input id="nameInput" [required]="demandPassword" placeholder="Namn" type="text" matInput [(ngModel)]="user.name" autocomplete="off"
               autocomplete="off">
      </mat-input-container>
      <mat-input-container *ngIf="demandPassword">
        <input id="passWordInput" [required]="demandPassword" placeholder="Lösenord" type="password" matInput [(ngModel)]="user.passWord" autocomplete="off">
      </mat-input-container>

      <h3>Status</h3>

      <div class="form-element">
        <mat-checkbox id="aktiv" name="aktiv" [checked]="userStatus" (change)="onStatusClick(userStatus)">Aktiv
        </mat-checkbox>
      </div>

      <h3>Behörigheter</h3>

      <div class="form-element">
        <mat-checkbox id="sjukskoterska" name="sjukskoterska" [checked]="user.sjukskoterska" (change)="user.sjukskoterska = !user.sjukskoterska">
          Sjuksköterska
        </mat-checkbox>
      </div>
      <div class="form-element">
        <mat-checkbox id="pharmaceut" name="pharmaceut" [checked]="user.pharmaceut" (change)="user.pharmaceut = !user.pharmaceut">
          Pharmaceut
        </mat-checkbox>
      </div>
      <div class="form-element">
        <mat-checkbox id="admin" name="admin" [checked]="user.admin" (change)="user.admin = !user.admin">
          Admin
        </mat-checkbox>
      </div>

      <h3>Mottagningar</h3>
      <div class="form-element" *ngFor="let mottagning of mottagnings">
        <mat-checkbox [checked]="doesUserHaveMottagning(mottagning)" (change)="onMottagningChecked(mottagning)">
          {{mottagning.namn}}
        </mat-checkbox>
      </div>

      <div class="btn-container button-row">
        <button #saveInput mat-button class="btn btn-primary" mat-raised-button type="submit" (click)="save()"
                [disabled]="userNameClash || !(((demandPassword && user.name && user.passWord) || !demandPassword) && user.userName)">
          Spara
        </button>
      </div>

    </mat-card-content>
  </mat-card>


</div>

<ng-template #loading>
  Läser in...
</ng-template>
