<div *ngIf="patientId">

  <mat-toolbar class="action-toolbar">
    <h1>
      Rekvisition: {{patient?.pnr}}
    </h1>
    <div class="action-toolbar-spacer"></div>
    <app-back-button class="action-toolbar-item"></app-back-button>
  </mat-toolbar>

  <mat-card class="dialys-card">

    <mat-card-content>

     <div class="row">
        <div class="col c6">
          <div class="col-inner">
            <div class="dialys-details">
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Förnamn:</div>
                <div class="dialys-details-item-data">
                  {{patient?.fornamn}}
                </div>
              </div>
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Efternamn:</div>
                <div class="dialys-details-item-data">
                  {{patient?.efternamn}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-patient-details patientId={{patientId}}></app-patient-details>

      <div id="bastallningsTableWrap">
        <mat-table #table dense [dataSource]="datasource">
          <ng-container matColumnDef="artikel">
            <mat-header-cell *matHeaderCellDef>Artikel</mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.artikel.namn}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="mangd">
            <mat-header-cell *matHeaderCellDef>Mängd / frp</mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.artikel.storlek}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="artikelnr">
            <mat-header-cell *matHeaderCellDef>Artikelnr</mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.artikel.artNr}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>

      <div class="btn-container">

        <button (click)="print('Rekvisitioner', 'bastallningsTableWrap')" mat-raised-button class="btn btn-primary">Skriv ut</button> &nbsp;

      </div>

    </mat-card-content>
  </mat-card>

</div>
