.mat-table {
    display: block;
}

.mat-header-row {
  background: transparent;
}

.mat-header-row,
.mat-row {
    align-items: center;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    display: flex;
    padding: 0 24px;
}

.mat-header-cell {
    color: #555;
    font-size: 12px;
    font-weight: bold;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    padding: 10px;
    word-wrap: break-word;
}

.mat-table .mat-cell {
   font-size: 14px;
   overflow: visible;
   color: #333;
}

.mat-table .mat-cell input {
  border: 0px;
}

.mat-table .mat-cell .mat-form-field-label-wrapper {
  display: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
     color: transparent;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: transparent;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: transparent;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
     color: transparent;
 }
