<h1 mat-dialog-title="">
  Flytta artikel <!--'{{data.item2move.titel}}' {{(data.item2move.id)?('#'+data.item2move.id):'-'}}-->
</h1>

<div class="confirm-dialog">

  <div mat-dialog-content>
    <div class="dialys-form-field">
    </div>

    <div>
      Du har valt {{data.pdArtikels.length == 1 ? 'en artikel': (data.pdArtikels.length + ' artiklar') }}
      utan att ange maxantal. Var god korrigera inmatningen nedan och spara.
    </div>

    <mat-table #table dense [dataSource]="data.pdArtikels">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Namn</mat-header-cell>
        <mat-cell *matCellDef="let rad">{{rad.artikel.namn}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="maxantal">
        <mat-header-cell *matHeaderCellDef>Maxantal frp</mat-header-cell>
        <mat-cell *matCellDef="let rad">
          <mat-input-container>
            <input id="name" [(ngModel)]="rad.maxantal" type="number" matInput required
                   matInput="2147483647" min="0">
          </mat-input-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['name', 'maxantal']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'maxantal'];"></mat-row>
    </mat-table>

  </div>

  <div mat-dialog-actions>
    <button mat-button class="btn btn-default" (click)="dialogRef.close(null)">Avbryt</button>
    <button mat-button class="btn btn-default" (click)="dialogRef.close('confirm')">Spara</button>
  </div>
</div>
