.mat-column-id {
  flex: 0 0 100px;
}

.mat-column-name {
  flex: 0 0 300px;
}

.aktiv {
  flex: 0 0 50px;
}

.mat-column-artNr {
  flex: 0 0 100px;
/*  input {
    flex: 0 0 50px;
  }*/
}

.mat-column-storlek {
  flex: 0 0 100px;
}

