<mat-toolbar class="action-toolbar">
  <h1>
    Flikar, grupper och artiklar
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" mat-fab (click)="createNewFlik()" matTooltip="Lägg till ny flik">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>


<mat-accordion multi="true" ngClass="fliks">

  <mat-expansion-panel *ngFor="let flik of toFlikExts(fliks)">
    <mat-expansion-panel-header>
      {{flik.titel}} {{flik.pdArtikelsCount ? ('(' + flik.pdArtikelsCount + ' beställningar)') : ('')}}
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

      <mat-toolbar class="action-toolbar">
        <mat-input-container>
          <input [(ngModel)]="flik.titel" placeholder="Fliktitel" type="text" [maxlength]="20" matInput>
        </mat-input-container>
        <div class="action-toolbar-spacer"></div>
        <mat-checkbox [(ngModel)]="flik.aktiv">Aktiv</mat-checkbox>
        <div *ngIf="flik.removeable" class="action-toolbar-spacer"></div>
        <button mat-button *ngIf="flik.removeable" (click)="removeFlik(flik)">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="action-toolbar-spacer"></div>
        <button mat-button (click)="createNewGrupp(flik)" matTooltip="Lägg till ny grupp">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>

      <div>
        <ul>
          <li *ngFor="let grupp of toGruppExts(flik.grupps)">
            <mat-toolbar class="action-toolbar">
              <mat-input-container>
                <input [(ngModel)]="grupp.titel" type="text" [maxlength]="20" matInput placeholder="Grupptitel">
              </mat-input-container>
              <button mat-button *ngIf="grupp.removeable" (click)="removeGrupp(flik, grupp)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-button (click)="createNewArtikel(grupp)" matTooltip="Lägg till ny artikel">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-button (click)="openMoveGruppDialog(flik, grupp)" matTooltip="Flytta grupp">
                <mat-icon>shuffle</mat-icon>
              </button>
            </mat-toolbar>

            <mat-table #table [dataSource]="toArtikelExtsModel(grupp.artikels)">

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
                <mat-cell *matCellDef="let artikel"> {{artikel.id}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Namn</mat-header-cell>
                <mat-cell *matCellDef="let artikel">
                  <mat-input-container *ngIf="artikel.editable">
                    <input required [(ngModel)]="artikel.namn" type="text" [maxlength]="50" matInput *ngIf="artikel.editable">
                  </mat-input-container>
                  <span *ngIf="!artikel.editable">
                  {{artikel.namn}}
                </span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="artNr">
                <mat-header-cell *matHeaderCellDef> ArtNr</mat-header-cell>
                <mat-cell *matCellDef="let artikel">
                  <input [(ngModel)]="artikel.artNr" type="text" [maxlength]="20" matInput *ngIf="artikel.editable">
                  <span *ngIf="!artikel.editable">{{artikel.artNr}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="storlek">
                <mat-header-cell *matHeaderCellDef> Storlek</mat-header-cell>
                <mat-cell *matCellDef="let artikel">
                  <input [(ngModel)]="artikel.storlek" type="text" [maxlength]="20" matInput *ngIf="artikel.editable">
                  <span *ngIf="!artikel.editable">{{artikel.storlek}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="pdArtikelsCount">
                <mat-header-cell *matHeaderCellDef> Beställningar</mat-header-cell>
                <mat-cell *matCellDef="let artikel"> {{artikel.pdArtikelsCount}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aktiv">
                <mat-header-cell *matHeaderCellDef> Aktiv</mat-header-cell>

                <mat-cell *matCellDef="let artikel">
                  <mat-checkbox [(ngModel)]="artikel.aktiv"></mat-checkbox>
                </mat-cell>

              </ng-container>

              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef>Verktyg</mat-header-cell>

                <mat-cell *matCellDef="let artikel">

                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #menu="matMenu">
                    <button *ngIf="artikel.editable" mat-button (click)="deleteArtikel(grupp, artikel)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button (click)="openMoveArtikelDialog(grupp, artikel)" matTooltip="Flytta artikel">
                      <mat-icon>shuffle</mat-icon>
                    </button>
                  </mat-menu>

                  <!--<button *ngIf="artikel.editable" mat-button (click)="deleteArtikel(grupp, artikel)">
                    <mat-icon>delete</mat-icon>
                  </button>-->

<!--                  <button mat-button (click)="openMoveArtikelDialog(grupp, artikel)" matTooltip="Flytta artikel">
                    <mat-icon>shuffle</mat-icon>
                  </button>-->
                </mat-cell>

              </ng-container>

              <mat-header-row
                *matHeaderRowDef="['id', 'name', 'artNr', 'storlek', 'pdArtikelsCount', 'aktiv', 'delete']"></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: ['id', 'name', 'artNr', 'storlek', 'pdArtikelsCount', 'aktiv', 'delete'];"></mat-row>

            </mat-table>
            <br/>
          </li>
        </ul>
      </div>

    </ng-template>

  </mat-expansion-panel>

</mat-accordion>

<div class="row">
  <div class="col c3">
    <div class="col-inner">
    </div>
  </div>
  <div class="col c9">
    <div class="col-inner">
      <div class="btn-container">
        <button type="submit" mat-raised-button class="btn" (click)="saveToServerSide()">Spara
        </button> &nbsp;
        <button type="submit" mat-raised-button class="btn btn-secondary" onclick="window.history.back();">
          Avbryt
        </button> &nbsp;
      </div>
    </div>
  </div>
</div>
