.mat-column-id {
  flex: 0 0 70px;
}

.mat-column-name {
  flex: 0 0 250px;
}

.aktiv {
  flex: 0 0 50px;
}

.mat-column-artNr {
  flex: 0 0 70px;
/*  input {
    flex: 0 0 50px;
  }*/
}

.mat-column-storlek {
  flex: 0 0 100px;
}

.fliks {
  justify-content: flex-start !important;
  md-grid-tile {
    text-align: left;
  }
}

.action-toolbar>* {
  padding-left: 5px;
  padding-right: 5px;
}
