<div *ngIf="data">

  <mat-toolbar class="action-toolbar">
    <h1>
       Ny rekvisition: {{data.pnr}}
    </h1>
    <div class="action-toolbar-spacer"></div>

    <app-back-button class="action-toolbar-item"></app-back-button>

  </mat-toolbar>

    <mat-card class="div-card">

      <mat-card-content>

        <div class="row">
        	<div class="col c6">
        		<div class="col-inner">

              <div class="div-details">

                <div class="div-details-item">
                  <div class="div-details-item-label">Personnr:</div>
                  <div class="div-details-item-data">
                    {{data.pnr}}
                  </div>
                </div>

                <div class="div-details-item">
                  <div class="div-details-item-label">Rekvisitionsdatum:</div>
                  <div class="div-details-item-data">
                    2016-01-01
                  </div>
                </div>

                <div class="div-details-item">
                  <div class="div-details-item-label">Ersätter rekvisition:</div>
                  <div class="div-details-item-data">
                    -
                  </div>
                </div>

              </div>

            </div>
        	</div>
          <div class="col c6"></div>
        </div>

        <mat-tab-group dynamicHeight="true" [@.disabled]="true" >
          <mat-tab label="Baxter">
            <mat-tab-group class="chip-tab-group" dynamicHeight="true" [@.disabled]="true" >
              <mat-tab label="APD">APD</mat-tab>
              <mat-tab label="CAPD">CAPD</mat-tab>
              <mat-tab label="Förbrukningsvaror">Förbrukningsvaror</mat-tab>
            </mat-tab-group>
          </mat-tab>

          <mat-tab label="Fresenius">
            <mat-tab-group class="chip-tab-group" dynamicHeight="true" [@.disabled]="true" >
              <mat-tab label="Fresenius tabb 1">Fresenius tabb 1</mat-tab>
              <mat-tab label="Fresenius tabb 2">Fresenius tabb 2</mat-tab>
            </mat-tab-group>
          </mat-tab>

          <mat-tab label="Övriga varor">
            <mat-tab-group class="chip-tab-group" dynamicHeight="true" [@.disabled]="true" >
              <mat-tab label="Övriga tabb 1">Övriga tabb 1</mat-tab>
              <mat-tab label="Övriga tabb 2">Övriga tabb 2</mat-tab>
            </mat-tab-group>
          </mat-tab>

          <mat-tab label="Hjälpmedel">
            <mat-tab-group class="chip-tab-group" dynamicHeight="true" [@.disabled]="true" >
              <mat-tab label="Hjälpmedel tabb 1">Hjälpmedel tabb 1</mat-tab>
              <mat-tab label="Hjälpmedel tabb 2">Hjälpmedel tabb 2</mat-tab>
            </mat-tab-group>
          </mat-tab>

          <mat-tab label="Barn">
            <mat-tab-group class="chip-tab-group" dynamicHeight="true" [@.disabled]="true" >
              <mat-tab label="Barn tabb 1">Barn tabb 1</mat-tab>
              <mat-tab label="Barn tabb 2">Barn tabb 2</mat-tab>
            </mat-tab-group>
          </mat-tab>


        </mat-tab-group>

        <div class="btn-container">

          <button type="submit"mat-raised-button class="btn">Spara rekvisition</button> &nbsp;
          <button type="submit"mat-raised-button class="btn btn-secondary">Skriv ut</button> &nbsp;
          <button type="submit"mat-raised-button class="btn btn-secondary">Avbryt</button> &nbsp;


        </div>

      </mat-card-content>
    </mat-card>




</div>
