<div *ngIf="patient">
  <mat-toolbar class="action-toolbar">
    <h1>
      {{pd.id ? 'Rekvisition' : 'Ny rekvisition'}}: {{patient.pnr}} ({{pd.typ}})
    </h1>
    <div class="action-toolbar-spacer"></div>

    <app-back-button class="action-toolbar-item"></app-back-button>

  </mat-toolbar>

  <mat-card class="dialys-card">

    <mat-card-content>

      <div class="row">
        <div class="col c6">
          <div class="col-inner">
            <div class="dialys-details">
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Förnamn:</div>
                <div class="dialys-details-item-data">
                  {{patient.fornamn}}
                </div>
              </div>
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Efternamn:</div>
                <div class="dialys-details-item-data">
                  {{patient.efternamn}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col c6">
          <div class="col-inner">
            <div class="dialys-details">
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Rekvisitionsdatum:</div>
                <div class="dialys-details-item-data">
                  {{pd.datum | date : 'yyyy-MM-dd'}}
                </div>
              </div>
              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Ersätter rekvisition:</div>
                <div class="dialys-details-item-data" *ngIf="!pd || !pd.patient || pd.patient.pds.length === 0">
                  -
                </div>
                <div class="dialys-details-item-data" *ngIf="pd.patient.pds.length > 0">
                  {{pd.patient.pds[0].id}} med datum {{pd.patient.pds[0].datum | date: 'yyyy-MM-dd'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-patient-details patientId={{patient.id}}></app-patient-details>

      <mat-tab-group dynamicHeight="true" [@.disabled]="true">
        <mat-tab label="{{flik.titel.trim()}} ({{flik.artikelCount}})" *ngFor="let flik of asFlikReqs(fliks)">

          <mat-tab-group class="chip-tab-group" dynamicHeight="true" [@.disabled]="true">
            <mat-tab *ngFor="let grupp of asGruppReqs(flik.grupps)" label="{{grupp.titel}} ({{grupp.artikelCount}})">

              <mat-table #table dense [dataSource]="grupp.artikels">
                <ng-container matColumnDef="namn">
                  <mat-header-cell *matHeaderCellDef>Artikel</mat-header-cell>
                  <mat-cell *matCellDef="let rad">{{rad.namn}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="storlek">
                  <mat-header-cell *matHeaderCellDef>Mängd / frp</mat-header-cell>
                  <mat-cell *matCellDef="let rad">{{rad.storlek}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="artNr">
                  <mat-header-cell *matHeaderCellDef>Artikelnr</mat-header-cell>
                  <mat-cell *matCellDef="let rad">
                    {{rad.artNr}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ordination">
                  <mat-header-cell *matHeaderCellDef>Ordination</mat-header-cell>
                  <mat-cell *matCellDef="let rad">
                    <mat-checkbox [value]="selectedArtiklar.indexOf(rad) != -1" *ngIf="editable"
                                  [checked]="selectedArtiklar.indexOf(rad) != -1" (change)="onItemSelect(rad)">
                    </mat-checkbox>
                    <mat-icon *ngIf="!editable && selectedArtiklar.indexOf(rad) != -1">checked</mat-icon>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="maxantal">
                  <mat-header-cell *matHeaderCellDef>Maxantal frp</mat-header-cell>
                  <mat-cell *matCellDef="let rad">
                    <mat-input-container *ngIf="editable">
                      <input id="name" [(ngModel)]="artikelToPdArtikels.get(rad).maxantal" type="number"
                             matInput="2147483647" min="0"
                             [disabled]="selectedArtiklar.indexOf(rad) === -1" [required]="selectedArtiklar.indexOf(rad) != -1">
                    </mat-input-container>
                    <div *ngIf="!editable">
                      {{artikelToPdArtikels.get(rad).maxantal}}
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>
            </mat-tab>
          </mat-tab-group>

        </mat-tab>


      </mat-tab-group>

      <div class="btn-container">
        <button type="submit" mat-raised-button class="btn" (click)="saveToServer()" [disabled]="saving || !editable">
          Spara rekvisition
        </button> &nbsp;
        <button type="button" mat-raised-button class="btn btn-secondary"(click)="skrivut()">Skriv ut</button> &nbsp;
        <!-- <button routerLink="/patienter/{{id}}" mat-raised-button class="btn btn-secondary">Avbryt</button> &nbsp;-->
        <button mat-raised-button class="btn btn-secondary" (click)="avbryt()">Avbryt</button> &nbsp;
      </div>

      <div id="rekvisitionsTableWrap" [hidden]=true>
        <div>
          {{patient.fornamn}} {{patient.efternamn}}
        </div>
        <mat-table #table dense [dataSource]="datasource">
          <ng-container matColumnDef="artikel">
            <mat-header-cell *matHeaderCellDef>Artikel</mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.artikel.namn}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="mangd">
            <mat-header-cell *matHeaderCellDef>Mängd / frp</mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.artikel.storlek}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="artikelnr">
            <mat-header-cell *matHeaderCellDef>Artikelnr</mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.artikel.artNr}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
        </mat-table>
      </div>

    </mat-card-content>
  </mat-card>

</div>
