<div>

  <mat-toolbar class="action-toolbar">
    <h1>
      Beställning: {{pnr}}
    </h1>
    <div class="action-toolbar-spacer"></div>
    <app-back-button class="action-toolbar-item"></app-back-button>
  </mat-toolbar>

  <mat-card class="dialys-card">

    <mat-card-content>

      <div class="row">
        <div class="col c6">
          <div class="col-inner">

            <div class="dialys-details">

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Personnr:</div>
                <div class="dialys-details-item-data">
                  {{pnr}}
                </div>
              </div>

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Rekvisitionsnr:</div>
                <div class="dialys-details-item-data">
                  {{rekvisId}}
                </div>
              </div>

              <div class="dialys-details-item">
                <div class="dialys-details-item-label">Rekvisitionsdatum:</div>
                <div class="dialys-details-item-data">
                  {{rekvisDatum}}
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="col c6">
        </div>
      </div>

      <div>
        <mat-table #table dense [dataSource]="bestallningDataSource">
          <ng-container matColumnDef="artikel">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Artikel / Produkt</span></mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.id}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="mangd">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Mängd / Förpackning</span></mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="pdartikel">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Artikelnr</span></mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.pdartikelID}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="antal">
            <mat-header-cell *matHeaderCellDef><span style="font-size:16px;font-weight:bold">Antal</span></mat-header-cell>
            <mat-cell *matCellDef="let rad">{{rad.antal}}</mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>

      <div class="btn-container">

        <button type="submit"mat-raised-button class="btn btn-secondary">Skriv ut</button> &nbsp;

      </div>

    </mat-card-content>
  </mat-card>




</div>

