<div>

  <mat-toolbar class="action-toolbar">
    <h1>
      Beställningar: {{pnr}}
    </h1>
    <div class="action-toolbar-spacer"></div>
    <app-back-button class="action-toolbar-item"></app-back-button>
  </mat-toolbar>

  <mat-card class="div-card">

    <mat-card-content>

      <div class="row">
        <div class="col c6">
          <div class="col-inner">

            <div class="div-details">

              <div class="div-details-item">
                <div class="div-details-item-label">Personnr:</div>
                <div class="div-details-item-data">
                  {{pnr}}
                </div>
              </div>

              <div class="div-details-item">
                <div class="div-details-item-label">Rekvisitionsnr:</div>
                <div class="div-details-item-data">
                  {{rekvisId}}
                </div>
              </div>

              <div class="div-details-item">
                <div class="div-details-item-label">Rekvisitionsdatum:</div>
                <div class="div-details-item-data">
                  {{rekvisDatum}}
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="col c6">
        </div>
      </div>

      Beställningsformulär etc här.


      <div class="btn-container">

        <button type="submit"mat-raised-button class="btn btn-secondary">Skriv ut</button> &nbsp;

      </div>

    </mat-card-content>
  </mat-card>




</div>

