<mat-toolbar class="action-toolbar">
  <h1>

    {{patient && patient.pnr ? 'Redigera patient' : 'Skapa patient'}}: {{patient ? patient.pnr : 'N/A'}}
  </h1>
  <div class="action-toolbar-spacer"></div>
  <app-back-button class="action-toolbar-item"></app-back-button>
</mat-toolbar>


<mat-card class="dialys-card dialys-guide">
  <mat-card-content>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">

          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">1</span>
            <span class="dialys-guide-label-text">Ange personuppgifter</span>
          </span>

        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input id="name" #pnrInput required [(ngModel)]="patient.pnr" placeholder="Personnummer" type="text"
                       matInput [disabled]="!authService.getSjukskoterska()" (blur)="checkPnrDuplicate()">
              </mat-input-container>
            </div>
            <mat-icon class="dialys-form-field-help" matTooltip="Hjälptext här.">help</mat-icon>
          </div>

          <div *ngIf="!canBeSaved" class="dialys-form-field-ctn">
            <div class="dialys-form-field" style="color: darkorange">
              Personnummer finns redan.
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input required #fornamnInput id="fornamn" [(ngModel)]="patient.fornamn" placeholder="Förnamn"
                       type="text"
                       matInput [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input required #efternamnInput id="efternamn" [(ngModel)]="patient.efternamn" placeholder="Efternamn"
                       type="text"
                       matInput [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">2</span>
            <span class="dialys-guide-label-text">Ange patient- och mottagningsuppgifter</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <label class="field-label">Välj typ av patient:</label>
              <mat-radio-group #typInput [(ngModel)]="patient.typ" [disabled]="!authService.getSjukskoterska()">
                <mat-radio-button value="PD">PD</mat-radio-button>
                <mat-radio-button value="HD">HD</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-checkbox #leveransPaminnelseInput [(ngModel)]="patient.leveransPaminnelse"
                            [disabled]="!authService.getSjukskoterska()">
                Påminnelse för patient
              </mat-checkbox>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <h3 #mottagningsHead>Mottagningar </h3>
              <div class="form-element" *ngFor="let mottagning of mottagnings">
                <mat-checkbox #mottagningInputs [checked]="doesPatientHaveMottagning(mottagning)"
                              [disabled]="!authService.getSjukskoterska()"
                              (change)="onMottagningChecked(mottagning)">
                  {{mottagning.namn}}
                </mat-checkbox>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">3</span>
            <span class="dialys-guide-label-text">Ange adressuppgifter</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #adressInput required id="gatuAdress" [(ngModel)]="patient.adress" placeholder="Gatuadress"
                       type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #postNrInput required id="postNr" [(ngModel)]="patient.postNr" placeholder="Postnummer"
                       type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #postOrtInput required id="postOrt" [(ngModel)]="patient.postOrt" placeholder="Postort"
                       type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #portkodInput id="portkod" [(ngModel)]="patient.portkod" placeholder="Portkod" type="text"
                       matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">4</span>
            <span class="dialys-guide-label-text">Ange temporära adressuppgifter</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #tempAdressFrom
                       [value]="patient.tempAdressFrom | date: 'yyyy-MM-dd'"
                       placeholder="Från och med"
                       type="date" matInput
                       [disabled]="!authService.getSjukskoterska()"
                       (blur)="patient.tempAdressFrom = toDate($event.srcElement.value)"
                >
              </mat-input-container>

            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input id="tempAdressTom" #tempAdressTomInput
                       [value]="patient.tempAdressTom | date: 'yyyy-MM-dd'"
                       placeholder="Till och med"
                       type="date" matInput
                       [disabled]="!authService.getSjukskoterska()"
                       (blur)="patient.tempAdressTom = toDate($event.srcElement.value)"
                >
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #tempAdress id="tempGatuAdress" [(ngModel)]="patient.tempAdress" placeholder="Gatuadress"
                       type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #tempPostNr id="tempPostNr" [(ngModel)]="patient.tempPostNr" placeholder="Postnummer"
                       type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #tempPostOrt id="tempPostOrt" [(ngModel)]="patient.tempPostOrt" placeholder="Postort"
                       type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">5</span>
            <span class="dialys-guide-label-text">Ange kontaktuppgifter</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #telefonInput required id="telefon" [(ngModel)]="patient.telefon" placeholder="Telefonnummer"
                       type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #mobilInput id="mobil" [(ngModel)]="patient.mobil" placeholder="Mobilnummer" type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>

<!--          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #epostInput id="epost" [(ngModel)]="patient.epost" placeholder="Epost" type="text" matInput
                       [maxlength]="255" [disabled]="!authService.getSjukskoterska()">
              </mat-input-container>
            </div>
          </div>-->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">6</span>
            <span class="dialys-guide-label-text">Ange Leveransdetaljer</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <mat-select #utdelDagInput [(value)]="patient.utdelDag" placeholder="Utdelningsdag">
                  <mat-option>Ingen uppgift</mat-option>
                  <mat-option value="Måndag">Måndag</mat-option>
                  <mat-option value="Tisdag">Tisdag</mat-option>
                  <mat-option value="Onsdag">Onsdag</mat-option>
                  <mat-option value="Torsdag">Torsdag</mat-option>
                  <mat-option value="Fredag">Fredag</mat-option>
                  <mat-option value="Lördag">Lördag</mat-option>
                  <mat-option value="Söndag">Söndag</mat-option>
                </mat-select>
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #utdelTextInput id="utdelText" [(ngModel)]="patient.utdelText" placeholder="Utdelningstid"
                       type="text"
                       matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">

              <mat-radio-group #utdelVeckaInput [(ngModel)]="patient.utdelVecka">
                <mat-label>Utdelningsvecka:</mat-label>
                <br/>
                <mat-radio-button>Ingen uppgift</mat-radio-button>
                |
                <mat-radio-button value="Jämn">Jämn</mat-radio-button>
                |
                <mat-radio-button value="Ojämn">Ojämn</mat-radio-button>
                |
                <mat-radio-button value="Var tredje">Var tredje</mat-radio-button>
                |
                <mat-radio-button value="Varje">Varje</mat-radio-button>
              </mat-radio-group>

            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">7</span>
            <span class="dialys-guide-label-text">Ange ombud</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #avropsOmbudInput [(ngModel)]="patient.avropsOmbud" placeholder="Ombud för avrop" type="text"
                       matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <input #leveransMottagningsOmbudInput [(ngModel)]="patient.leveransMottagningsOmbud"
                       placeholder="Ombud för leveransmottagning"
                       type="text" matInput>
              </mat-input-container>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">8</span>
            <span class="dialys-guide-label-text">Ange övrig information</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-input-container>
                <textarea #ovrigtInput placeholder="Kommentar / fritext" type="text" matInput
                          [(ngModel)]="patient.ovrigt" [disabled]="!authService.getSjukskoterska()"></textarea>
              </mat-input-container>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">
          <span class="dialys-guide-label">
            <span class="dialys-guide-label-number">9</span>
            <span class="dialys-guide-label-text">Ange aktualitet</span>
          </span>
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">

          <div class="dialys-form-field-ctn">
            <div class="dialys-form-field">
              <mat-select #statusInput [(value)]="patient.status" placeholder="Status"
                          [disabled]="!authService.getSjukskoterska()">
                <mat-option value="Aktiv">Aktiv</mat-option>
                <mat-option value="Pausad">Pausad</mat-option>
                <mat-option value="Avslutad">Avslutad</mat-option>
              </mat-select>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
        <div class="col-inner">
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">
          <div class="btn-container">
            <button type="submit" mat-raised-button class="btn" [disabled]="!canBeSaved"
                    (click)="saveToServerSide()">Spara patient
            </button> &nbsp;
            <button type="submit" mat-raised-button class="btn btn-secondary" onclick="window.history.back();">
              Avbryt
            </button> &nbsp;
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
