<mat-toolbar class="action-toolbar">
  <h1>
     Redigera patient: {{patient ? patient.pnr : 'N/A'}}
  </h1>
  <div class="action-toolbar-spacer"></div>
  <app-back-button class="action-toolbar-item"></app-back-button>
</mat-toolbar>


<mat-card class="div-card div-guide">
  <mat-card-content>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">

          <span class="div-guide-label">
            <span class="div-guide-label-number">1</span>
            <span class="div-guide-label-text">Ange personuppgifter</span>
          </span>

      	</div>
      </div>
      <div class="col c9">
      	<div class="col-inner">

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="name" [(ngModel)]="patient.pnr" placeholder="Personnummer" type="text" matInput>
              </mat-input-container>
            </div>
            <mat-icon class="div-form-field-help" matTooltip="Hjälptext här.">help</mat-icon>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="fornamn" [(ngModel)]="patient.fornamn" placeholder="Förnamn" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="efternamn" [(ngModel)]="patient.efternamn" placeholder="Efternamn" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">
          <span class="div-guide-label">
            <span class="div-guide-label-number">2</span>
            <span class="div-guide-label-text">Ange patient- och mottagningsuppgifter</span>
          </span>
      	</div>
      </div>
      <div class="col c9">
      	<div class="col-inner">

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <label class="field-label">Välj typ av patient:</label>
              <mat-radio-group [(ngModel)]="patient.ansvarig.typ">
                <mat-radio-button value="Pd">PD</mat-radio-button>
                <mat-radio-button value="Hd">HD</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-form-field>
                <mat-select *ngIf="patient" [(ngModel)]="patient.ansvarig.mottagningID" placeholder="Mottagning">
                  <mat-option *ngFor="let mottagning of mottagnings" [value]="mottagning.id">
                    {{mottagning.namn}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-form-field>
                <mat-select *ngIf="patient" placeholder="PAS - patientasvarig sjuksköterska" [(ngModel)]="patient.ansvarig" [compareWith]="compareAnsvarigs">
                  <mat-option *ngFor="let ansvarig of (mottagningById.get(patient.ansvarig.mottagningID)) ? mottagningById.get(patient.ansvarig.mottagningID).ansvarigs : []"
                              [value]="ansvarig">
                    {{ansvarig.namn}} ({{ansvarig.userName}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="lasText" [(ngModel)]="patient.lasText" placeholder="LAS - patientasvarig läkare" type="text"
                       matInput>
              </mat-input-container>
            </div>
          </div>

      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">
          <span class="div-guide-label">
            <span class="div-guide-label-number">3</span>
            <span class="div-guide-label-text">Ange adressuppgifter</span>
          </span>
      	</div>
      </div>
      <div class="col c9">
      	<div class="col-inner">

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="gatuAdress" [(ngModel)]="patient.adress" placeholder="Gatuadress" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="postNr" [(ngModel)]="patient.postNr" placeholder="Postnummer" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="postOrt" [(ngModel)]="patient.postOrt" placeholder="Postort" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="portkod" [(ngModel)]="patient.portkod" placeholder="Portkod" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-checkbox>Använd tillfällig leveransadress</mat-checkbox>
            </div>
          </div>

      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">
          <span class="div-guide-label">
            <span class="div-guide-label-number">4</span>
            <span class="div-guide-label-text">Ange kontaktuppgifter</span>
          </span>
      	</div>
      </div>
      <div class="col c9">
      	<div class="col-inner">

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="telefon" [(ngModel)]="patient.telefon" placeholder="Telefonnummer" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="mobil" [(ngModel)]="patient.mobil" placeholder="Mobilnummer" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="epost" [(ngModel)]="patient.epost" placeholder="Epost" type="text" matInput>
              </mat-input-container>
            </div>
          </div>


      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">
          <span class="div-guide-label">
            <span class="div-guide-label-number">5</span>
            <span class="div-guide-label-text">Ange Leveransdetaljer</span>
          </span>
      	</div>
      </div>
      <div class="col c9">
      	<div class="col-inner">

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="utdelDag" [(ngModel)]="patient.utdelDag" placeholder="Utdelningsdag" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="utdelText" [(ngModel)]="patient.utdelText" placeholder="Utdelningstid" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input id="utdelVecka" [(ngModel)]="patient.utdelVecka" placeholder="Utdelningsvecka" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-checkbox [(ngModel)]="patient.leveransPaminnelse">Påminnelse för patient</mat-checkbox>
            </div>
          </div>

      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">
          <span class="div-guide-label">
            <span class="div-guide-label-number">6</span>
            <span class="div-guide-label-text">Ange ombud</span>
          </span>
      	</div>
      </div>
      <div class="col c9">
      	<div class="col-inner">

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input [(ngModel)]="patient.avropsOmbud" placeholder="Ombud för avrop" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <input [(ngModel)]="patient.leveransMottagningsOmbud" placeholder="Ombud för leveransmottagning" type="text" matInput>
              </mat-input-container>
            </div>
          </div>

      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">
          <span class="div-guide-label">
            <span class="div-guide-label-number">7</span>
            <span class="div-guide-label-text">Ange övrig information</span>
          </span>
      	</div>
      </div>
      <div class="col c9">
      	<div class="col-inner">

          <div class="div-form-field-ctn">
            <div class="div-form-field">
              <mat-input-container>
                <textarea placeholder="Kommentar / fritext" type="text" matInput [(ngModel)]="patient.ovrigt" ></textarea>
              </mat-input-container>
            </div>
          </div>

      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col c3">
      	<div class="col-inner">
        </div>
      </div>
      <div class="col c9">
        <div class="col-inner">
          <div class="btn-container">
            <button type="submit"mat-raised-button class="btn" (click)="saveToServerSide()">Spara patient</button> &nbsp;
            <button type="submit"mat-raised-button class="btn btn-secondary">Avbryt</button> &nbsp;
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
