<h1 mat-dialog-title="">
  {{(!data.id) ? 'Lägg till ny mottagning':('Ändra mottagning #') + data.id}}
</h1>

<div class="confirm-dialog">

  <div mat-dialog-content>
    <div class="dialys-form-field">
      <mat-input-container>
        <input [(ngModel)]="data.namn" placeholder="Namn" type="text" matInput>
      </mat-input-container>
    </div>

    <div class="dialys-form-field-ctn">
      <div class="dialys-form-field">
        <mat-select [(value)]="data.status" placeholder="Status">
          <mat-option value="Aktiv">Aktiv</mat-option>
          <mat-option value="Pausad">Pausad</mat-option>
          <mat-option value="Avslutad">Avslutad</mat-option>
        </mat-select>
      </div>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button class="btn btn-primary" (click)="dialogRef.close(data)" mat-raised-button>Spara</button>
    <button mat-button class="btn btn-secondary" (click)="dialogRef.close(null)">Avbryt</button>
  </div>
</div>
