<h1 mat-dialog-title="">
  Flytta artikel '{{data.item2move.titel}}' {{(data.item2move.id)?('#'+data.item2move.id):'-'}}
</h1>

<div class="dialys-article-move">

  <div mat-dialog-content>
    <div class="dialys-form-field">
    </div>

    <div>
      Välj grupp som artikeln ska hamna i:
    </div>

    <ol class="article-list article-list-1">
      <li *ngFor="let flik of data.flikRot.fliks">
        <span class="fli-title">{{flik.titel}}</span>
        <ol class="article-list article-list-2">
          <li *ngFor="let grupp of flik.grupps">
            <a *ngIf="grupp.artikels.indexOf(data.item2move) == -1"
               (click)="data.moveArtikel(data.item2move, data.previousGrupp, grupp)">
              '{{grupp.titel}}'
            </a>
            <span *ngIf="grupp.artikels.indexOf(data.item2move) > -1" class="selected">
              '{{grupp.titel}}' (nuvarande plats)
            </span>
          </li>
        </ol>

      </li>
    </ol>

  </div>

  <div mat-dialog-actions>
    <button mat-button class="btn btn-default" (click)="dialogRef.close(null)">Avbryt</button>
  </div>
</div>
